# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://cljnncnjdmblkmojqmlr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsam5uY25qZG1ibGttb2pxbWxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1ODYyNzcsImV4cCI6MjEwMzE2MjI3N30.N0YOvAQy3RVPyRUroPIPt2dIDyu3u2Ve7XiB6cV-0K0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsam5uY25qZG1ibGttb2pxbWxyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzU4NjI3NywiZXhwIjoyMTAzMTYyMjc3fQ.n47JdNsWFnqN1JUlCufCh8_QDvVfI9Ht2687xoIUDck

# Cloudinary
CLOUDINARY_CLOUD_NAME=oxzkml7u
CLOUDINARY_API_KEY=384946922552183
CLOUDINARY_API_SECRET=YQHCIX8N6BOGRATK4cReTDuZPl0
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=oxzkml7u

# TRUELOVE
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=6285872205813
ADMIN_EMAIL=
